$color-grey: #777;
$color-greyish: rgba(119, 119, 119, 0.801);
$color-yellowish: #cccc77b6;
$color-whitesmoke: whitesmoke;
$color-dark: rgb(22, 22, 22);
$color-sunflower: #f1c40f;
$color-primaryblue: #2980b9;

$horizontal-gutter: 0px;
$vertical-gutter: 81px;
$grid-width: 100%;
