form {
  // display: flex;
  // flex-direction: column;
  // margin: auto;

  input,
  select {
    padding: 10px;
    border: 1px solid rgb(206, 206, 206);
    margin-bottom: 25px;
    &:focus {
      border-color: $color-primaryblue;
    }
  }

  input[type="email"]:not(:placeholder-shown):invalid {
    border: 1px solid orangered;
  }

  &.login-form {
    // background-color: red;
    margin-top: 50px;
    section {
      margin: 10px 0px;
    }
    &.buttons {
      display: flex;
      justify-content: space-between;
    }
  }
  label {
    display: block;
    margin-bottom: 5px;
  }
}

.buttons {
  display: flex;
  justify-content: space-between;
  margin-top: 15px;

  button[type="submit"] {
    background-color: $color-sunflower;
    border: 0px;
    // margin: 0px 65px;
    padding: 10px 25px;

    &:hover {
      background-color: lighten($color-sunflower, 15%);
      cursor: pointer;
    }
  }
  small {
    display: flex;
    align-items: center;
    cursor: pointer;
    color: $color-primaryblue;
    &:hover {
      text-decoration: underline;
    }
  }
}

a.signup-text,
a.signin-text {
  margin-top: 25px;
  color: $color-primaryblue;
  font-size: 14px;
  text-decoration: none;
  &:hover {
    text-decoration: underline;
  }
}
